.form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

.form >* {
  display: block;
  margin-bottom: 10px;
}

.cover_file {
  width: 75%;
}

.title {
  font-size: 16px;
}

.title input {
  font-size: 14px;
  padding: 5px;
}

.btn-box {
  display: block;
}

.submit-btn {
  color: rgba(255, 255, 255, .9);
  background: #299FFC;
  border: 1px solid #299FFC;
  border-radius: 5px;
  width: 4em;
  font-size: 16px;
  margin-top: 1em;
  line-height: 1.5em;
  transition: .3s;
}

.submit-btn:hover {
  background: #29b8fc;
  border-color: #29b8fc;
}

.submit-btn:active {
  background: #2991fc;
  border-color: #2991fc;
}

#list {
  padding: 0;
}

table {
  width: 100%;
}

.cover-img-upload {
  width: 100px;
}

.cover_img {
  padding-left: 24px;
  vertical-align: top;
}