.red {
  color: red;
}

/* siderbar */
.siderbar {
  font-size: 14px;
  position: fixed;
  top:0;
  right: -295px;
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  transition: transform .3s ease-in-out;
  background: #504d53e8;
  z-index: 12;
}

.sidebar-tabs {
  float: left;
  width: 35px;
  height: 100%;
}

.show-sidebar {
  transform: translate3d(-295px, 0px, 0px);
}

.sidebar-content {
  margin-left: 35px;
  height: 100%;
  width: 295px;
  overflow: auto;
  background: rgba(255, 255, 255, 0.86);
}

.sidebarcart-caption {
  background: #fff;
  font-size: 16px;
  color: #666;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.sidebarcart {
  padding: 10px;
  background-color: #fff;
  border: solid #ddd;
  border-width: 1px 0;
  margin-bottom: 10px;
  color: #666;
  user-select: none;
}

.sidebarcart h4 {
  margin-left: 10px;
  line-height: 2em;
}

.sidebarcart-box-item {
  padding-top: 5px;
  margin-left: 5px;
}

.sidebarcart-box-item > * {
  width: 30%;
  text-align: center;
  display: inline-block;
}

.sidebarcart-box-item .count input {
  width: 1em;
  max-width: 2em;
}

.sidebarcart-summary {
  padding: 20px 10px;
  text-align: right;
  border-top: 1px solid #ddd;
  width: 295px;
  left: 35px;
  bottom: 0;
  background: #fff;
  opacity: .95;
  position: absolute;
  user-select: none;
}

.toolbar-tab-middle {
  position: absolute;
  width: 35px;
  top: 25%;
}

.cart-count {
  position: absolute;
  background: red;
  width: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  color: #fff;
  left: -9px;
  top: -3px;
}

.count-num {
  border: none;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  width: 2em;
  color: #666;
}

.minus, .add {
  display: inline-block;
  color: #666;
}

.minus:hover, .add:hover {
  color: #999;
}

.minus:active, .add:active {
  color: #524D40;
}

.sidebarcart-box-item .title {
  vertical-align: bottom;
}

.sidebar-btn {
  color: #ccc;
  display: inline-block;
  width: 100%;
  padding: 11px;
  line-height: 16px;
  cursor: pointer;
}

.toolbar-cartbtn:hover {
  color: #fff;
  background: #288BDD;
  transition: .3s;
}

.toolbar-tab-bottom {
  position: absolute;
  bottom: 0;
  width: 35px;
}

.sidebar-btn-backtop:hover {
  color: #fff;
  background: #288BDD;
  transition: .3s;
}

.sidebarcart-box-item .title {
  width: 6em;
  /*溢出的部分用省略号代替*/
  text-overflow: ellipsis;
  /*溢出的部分隐藏*/
  overflow: hidden;
  /*强制不换行*/
  white-space: nowrap;
}

#submit-order {
  display: inline-block;
  font-size: 16px;
  margin: 10px 90px 0px;
  padding: 3px 15px;
  white-space: nowrap;
  border-radius: 8px;
  color: #524D40;
  transition: .3s;
}

#submit-order:hover {
  background: #308CFF;
  color: #fff;
  border: 1px solid #308CFF;
}

/* nav */

.header {
  height: 250px;
  background: url(http://oeryvxt85.bkt.clouddn.com/2018-01-06-food.jpeg);
  background-size: cover;
}

.nav {
  font-size: 0;
  margin-right: 35px;
  background:rgba(0, 0, 0, .3);
  /* filter: blur(5px); */
}

.nav .item{
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  padding: 0 15px;
  text-align: center;
  display: inline-block;
}

.nav .active {
  background:rgba(0, 0, 0, .3);
}

.nav .menu:hover{
  background:rgba(0, 0, 0, .5);
}

.nav .user {
  float: right;
}

.nav .dropdown {
  position: relative;
  cursor: pointer;
}

.nav .dropdown-content {
  line-height: 2em;
  display: none;
  font-size: 12px;
  color: #524D40;
  right: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 6px 5px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.list-item:hover {
  background: #eee;
}

.place {
  padding: 0 15px;
  min-width: 960px;
}
.place .item {
  display: inline-block;
}

.addr {
  color: #aaa;
  line-height: 30px;
  font-size: 14px;
}

.search-box {
  margin: 10px 35px 10px;
  float: right;
}

.search-bar {
  display: inline-block;
  font-size: 14px;
  padding: 5px;
}

/* cat */

.box {
  padding: 10px 15px;
  margin-right: 35px;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
  box-shadow: 1px 2px 3px #eee;
}

.cat-list .item {
  margin: 0 10px;
}

.cat-item {
  padding: 3px 1em;
  display: inline-block;
}

.cat-item:hover {
  background: #f6f6f6;
}

/* product */

.place.main {
  padding-bottom: 50px;
}

.cat-title {
  position: absolute;
  top: -2em;
  left: 1em;
  font-size: 18px;
  font-weight: lighter;
}

.product.main {
  margin-top: 60px;
  position: relative;
}

.box.main {
  padding: 0;
}

.product .item {
  border-bottom: 1px solid #eee;
  padding: 20px;
}

.product .item:hover {
  background: #f5f5f5;
}

.product-img {
  display: inline-block;
  width: 70px;
  /* margin: 0 0 10px 10px; */
}

.product-img img {
  border-radius: 5px;
}

.product-time {
  margin-left: 18px;
  color: #999;
}

.product-right {
  padding: 0 10px;
}

.product-item {
  margin:0 0 5px 0;
}

.product-sales, .product-delivery {
  font-size: 12px;
  color: #999;
}

.product-price {
  color: #F44548;
}

.product-cart {
  color: #fff;
  background: #308CFF;
  padding: 3px 5px;
  /* margin-top: 5px; */
  border: none;
  transition: .3s;
  cursor: pointer;
  border-radius: 4px;
}

.product-cart:hover {
  background: #58a0fb;
}

.product-cart:active {
  background: #3679ce;
}

.musk {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* z-index: 99; */
  /* background: rgba(255,255,255,0.5); */
}

.show {
  display: block;
}

#wrap{
  background-color: rgba(255,255,255,0.9);
}

#wrap[data-fixed="fixed"]{
  position: fixed;
  top:0;
  left: 15px;
  right: 50px;
  margin: 0;
  z-index: 99;
}

.place.cat {
  height: 74px;
}

.cat-active {
  background: #58a0fb;
  color: #fff;
  border-radius: 5px;
}

/* footer */

.footer {
  /* height: 1300px; */
}

#submit-order {
  z-index: 999;
}

.bottom-nav {
  padding: 30px 20px;
}

.bottom-nav h3 {
  font-weight: 400;
  margin-bottom: 5px;
}

.bottom-nav-item {
  font-weight: 300;
  color: #666;
  display: block;
  padding: 5px 0;
}

.place.footer .col {
  padding-left: 40px;
}
